@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

@layer utilities {
    @variants responsive {

        /* ===== Scrollbar CSS ===== */
        /* Firefox */
        .colored-scrollbar {
            scrollbar-width: thin;
            scrollbar-color: #004ADD #ffffff;
        }

        /* Chrome, Edge, and Safari */
        .colored-scrollbar::-webkit-scrollbar {
            width: 5px;
        }

        .colored-scrollbar::-webkit-scrollbar-track {
            background: #ffffff;
        }

        .colored-scrollbar::-webkit-scrollbar-thumb {
            background-color: #004ADD;
            border-radius: 10px;
            border: 3px none #ffffff;
        }
    }
}

@font-face {
    font-family: 'Texta';
    src: url('/fonts/TextaAlt-Regular.woff2') format('woff2'),
        url('/fonts/TextaAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta-Bold';
    src: url('/fonts/TextaAlt-Heavy.woff2') format('woff2'),
        url('/fonts/TextaAlt-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta-Bolder';
    src: url('/fonts/TextaAlt-Black.woff2') format('woff2'),
        url('/fonts/TextaAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta-Bold-Italic';
    src: url('/fonts/TextaAlt-HeavyItalic.woff2') format('woff2'),
        url('/fonts/TextaAlt-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 90vh;
    height: fit-content;
    overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
    section {
        min-height: fit-content;
    }
}